<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/CSS/adminPageStyle.css"/>
</head>
<body>

<header>
    <h3>YOU CAN EVERYTHING</h3>
</header>

<main>
    <div>
        <a href="/baskets">Basket</a>
        <a href="/checks">Checks</a>
        <a href="/countries">Countries</a>
        <a href="/customers">Customers</a>
        <a href="/home">Home</a>
        <a href="/manufacturers">Manufacturers</a>
        <a href="/models">Models</a>
        <a href="/orders">Orders</a>
        <a href="/orderStatuses">OrderStatuses</a>
        <a href="/personalDate">PersonalDate</a>
        <a href="/products">Products</a>
        <a href="/shop">Shops</a>
        <a href="/typeOfProducts">TypeOfProducts</a>

    </div>
</main>

</body>
</html>