<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/mainPageStyle.css">
    <link rel="shortcut icon" href="/image/icon.png" type="image/x-icon">
    <title>TechnoMir</title>
</head>
<body>

<header>
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
    </div>

    <div class="categories">
        <ul>
            <li><a href="#Accessories">О КОМПАНИИ</a></li>
            <li><a href="#phone">КАТАЛОГ</a></li>
            <li><a href="/orders">ДОСТАВКА</a></li>
            <li><a href="#stock">КОНТАКТЫ</a></li>
            <li><a href="/auth/login">ВОЙТИ</a></li>
            <li th:if="${role == 'ROLE_ADMIN'}"><a href="/admin" style="color: darkred">АДМИНКА</a></li>


        </ul>
    </div>
</header>

<section class="start-page">
    <h1>TechnoMir</h1>
    <p>Ведущая на рынке интернет-платформа</p>
</section>



</body>
</html>