<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Страны</title>
  <link rel="stylesheet" th:href="@{/CSS/main.css}">
</head>
<body>

<h3>СТРАНЫ</h3>

<form th:action="@{/countries/add}" th:method="POST" th:object="${country}" class="add">
  <label>Название страны</label>
  <input type="text" name="title" th:field="*{title}" placeholder="Введите название" required>

  <div style="color: red" th:if="${#fields.hasErrors('title')}">
    <span th:errors="*{title}">title errors</span>
  </div>
  <br>

  <button type="submit">Добавить страну</button>
</form>



<form th:action="@{/countries/findById}" method="POST" class="findById">

  <div>
    <label>ПОИСК СТРАНЫ ПО ID</label>
    <input type="number" name="id" placeholder="Введите ID" required>
    <button type="submit">Найти</button>
  </div>
</form>


<form th:action="@{/countries/findByTitle}" method="POST" class="findBy">

  <div>
    <label>ПОИСК СТРАНЫ ПО НАЗВАНИЮ</label>
    <input type="text" name="title" placeholder="Введите название" required>
    <button type="submit">Найти</button>
  </div>
</form>



<ul>
  <th:block th:each="country : ${countries}">
    <li>
      <span th:text="'ID: ' + ${country.id}"></span>

      <form th:action="@{/countries/update}" th:method="POST" th:object="${country}" style="display:inline;">
        <input type="hidden" name="id" th:value="${country.id}"/>
        <input type="text" name="title" th:field="*{title}" placeholder="Новое название" required/>

        <div style="color: red" th:if="${#fields.hasErrors('title')}">
          <span th:errors="*{title}">title errors</span>
        </div>

        <button type="submit">Обновить</button>
      </form>

      <form th:action="@{/countries/delete}" method="POST" style="display:inline;">
        <input type="hidden" name="id" th:value="${country.id}"/>
        <button type="submit">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>

</body>
</html>

