<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>МАГАЗИНЫ</title>
  <link rel="stylesheet" th:href="@{/CSS/main.css}">
</head>
<body>

<h3>МАГАЗИНЫ</h3>

<form th:action="@{/shop/add}" th:method="POST" th:object="${shop}" class="add">
  <label>Название</label>
  <input type="text" name="title" th:field="*{title}" placeholder="Введите новое название" required>

  <div style="color: red" th:if="${#fields.hasErrors('title')}">
    <span th:errors="*{title}">Title errors</span>
  </div>

  <br>

  <label>Адрес</label>
  <input type="text" name="address" th:field="*{address}" placeholder="Введите новый адрес" required>
  <div style="color: red" th:if="${#fields.hasErrors('address')}">
    <span th:errors="*{address}">Address errors</span>
  </div>
  <br>
  <button type="submit">Добавить магазин</button>




</form>



<form action="/shop/findById" method="post"  class="findById">
  <div>
    <label for="id">ПОИСК ПО ID:</label>
    <input type="number" id="id" name="id" required="required" placeholder="Введите ID"/>
  </div>

  <button type="submit">Найти</button>

</form>

<form action="/shop/findByTitle" method="post"  class="findBy">
  <div>
    <label for="id">ПОИСК ПО НАЗВАНИЮ:</label>
    <input type="text" name="title" required="required" placeholder="Введите название"/>
  </div>

  <button type="submit">Найти</button>

</form>



<ul>
  <th:block th:each="shop : ${shops}">
    <li>
      <span th:text="'Номер магазина: ' + ${shop.getId()}"></span>

      <form th:action="@{/shop/update}" th:method="POST" th:object="${shop}">
        <input type="hidden" name="id" th:value="${shop.getId()}"/>
        <input type="text" name="title" th:field="*{title}" placeholder="Введите новое название " required/>

        <div style="color: red" th:if="${#fields.hasErrors('address')}">
          <span th:errors="*{address}">Address errors</span>
        </div>

        <input type="text" name="address" th:field="*{address}" placeholder="Введите новый адрес " required/>




        <button type="submit">Обновить</button>
      </form>

      <form action="/shop/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${shop.getId()}"/>
        <button type="submit">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>



</body>
</html>